
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
*{
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    padding: 2em;
    margin: auto;
}
.card {
    background: $body-dark-tran;
    display: block;
    text-align: center;
    color: $text-white;
    margin: auto;
}
.dark{
    background: $body-dark;
    color: $text-white;
    box-shadow:0 3px 5px 3px $body-shadow;
}
.light{
    background: $body-bg;
    color: $text-dark;
    box-shadow:0 3px 5px 3px $body-shadow
}
.title {
    font-size: 84px;
}
.subtitle {
    font-size: 24px;
    margin-top:1em;
    margin-bottom:1em;
}
.full-height{
    height: 100vh;
}
.img{
    border: solid 5px $body-dark;
    box-shadow:0 3px 5px 1px $body-shadow;
}
.round{
    border-radius:50%; 
}
.rounded-circle {
    padding: 0;
    border-radius: 50%;
}
.navedit{
    background-color: $body-bg;
    color: $text-low-dark;
}
.navedit a {
    color: $text-low-dark;
}
.navedit a:hover {
    color: $text-dark;
}
.bg-light{
    background-color: $body-bg;
    border-bottom: solid 3px $color-primary;
    box-shadow: 0 0 3px 1px $body-shadow;
}
.line-bottom{
    border-bottom: solid 10px $color-primary;
}